*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    font-family: sans-serif;
}
#calculator{
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;

}
p{
    font-size: 80px;
    position: absolute;
    bottom: 70%;
    padding: 20px;
    width: 100%;
    text-align: right;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    transition: 0.5s;
    overflow: hidden;
    
}
button{
    border: 1px solid black;
    font-size: 50px;
}
button:active{
    transform: scale(0.95);
}
#number:hover{
    background-color: rgb(202, 202, 202);
}
#operator:hover{
    background-color: rgb(231, 132, 56);
}
#operator{
    background-color: rgb(255,152,72);
    color: white;
}
#number{
    background-color: rgb(227,226,227);
    color: black;
}
#result{
    background-color: rgb(7,100,15);
    grid-column: 1/5;
    color: #fff;
}
#result:hover{
    background-color: rgb(7, 73, 12);
}
#clear{
    background-color: rgb(215,31,22);
    color: #fff;
}
#clear:hover{
    background-color: rgb(136, 30, 24);
}
